[Desktop Entry]
Type=Application
Name=Disable Screensaver
Exec=/usr/bin/disable_screensaver
OnlyShowIn=GNOME;Unity;
NoDisplay=true
AutostartCondition=GSETTINGS
X-GNOME-AutoRestart=true
X-GNOME-Autostart-Phase=Initialization
