PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE setting (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    key TEXT,
    val TEXT
);
INSERT INTO "setting" VALUES(1,'xbmc_name','XBMC');
INSERT INTO "setting" VALUES(2,'xbmc_enable_pvr','0');
INSERT INTO "setting" VALUES(3,'xbmc_hide_watched','0');
INSERT INTO "setting" VALUES(4,'xbmc_enable','on');
INSERT INTO "setting" VALUES(5,'xbmc_current_server','5');
{% if sabnzbd_host is defined and sabnzbd_host == ansible_default_ipv4.address and htpc_manager_use_hostnames is defined and htpc_manager_use_hostnames %}
INSERT INTO "setting" VALUES(6,'sabnzbd_host','{{ ansible_hostname }}');
{% elif sabnzbd_host is defined and sabnzbd_host != ansible_default_ipv4.address %}
INSERT INTO "setting" VALUES(6,'sabnzbd_host','{{ sabnzbd_host }}');
{% else %}
INSERT INTO "setting" VALUES(6,'sabnzbd_host','{{ ansible_default_ipv4.address }}');
{% endif %}
{% if sabnzbd_host is defined %}
INSERT INTO "setting" VALUES(7,'sabnzbd_port','{{ sabnzbd_port }}');
{% else %}
INSERT INTO "setting" VALUES(7,'sabnzbd_port','');
{% endif %}
{% if sabnzbd_host is defined %}
INSERT INTO "setting" VALUES(8,'sabnzbd_apikey','{{ sab_apikey }}');
{% else %}
INSERT INTO "setting" VALUES(8,'sabnzbd_apikey','');
{% endif %}
{% if sabnzbd_host is defined %}
INSERT INTO "setting" VALUES(9,'sabnzbd_enable','on');
{% else %}
INSERT INTO "setting" VALUES(9,'sabnzbd_enable','0');
{% endif %}
INSERT INTO "setting" VALUES(10,'sabnzbd_basepath','');
INSERT INTO "setting" VALUES(11,'sabnzbd_name','SABnzbd');
INSERT INTO "setting" VALUES(12,'sabnzbd_ssl','0');
INSERT INTO "setting" VALUES(13,'couchpotato_ssl','0');
{% if couchpotato_host is defined and couchpotato_host == ansible_default_ipv4.address and htpc_manager_use_hostnames is defined and htpc_manager_use_hostnames %}
INSERT INTO "setting" VALUES(14,'couchpotato_host','{{ ansible_hostname }}');
{% elif couchpotato_host is defined and couchpotato_host != ansible_default_ipv4.address %}
INSERT INTO "setting" VALUES(14,'sabnzbd_host','{{ couchpotato_host }}');
{% else %}
INSERT INTO "setting" VALUES(14,'couchpotato_host','{{ ansible_default_ipv4.address }}');
{% endif %}
INSERT INTO "setting" VALUES(15,'couchpotato_basepath','/');
{% if couchpotato_apikey is defined %}
INSERT INTO "setting" VALUES(16,'couchpotato_apikey','bb138ccd9df84c33af9b310325b0d658');
{% else %}
INSERT INTO "setting" VALUES(16,'couchpotato_apikey','');
{% endif %}
INSERT INTO "setting" VALUES(17,'couchpotato_port','5050');
INSERT INTO "setting" VALUES(18,'couchpotato_name','CouchPotato');
{% if couchpotato_host is defined %}
INSERT INTO "setting" VALUES(19,'couchpotato_enable','on');
{% else %}
INSERT INTO "setting" VALUES(19,'couchpotato_enable','0');
{% endif %}
INSERT INTO "setting" VALUES(20,'app_webdir','/');
INSERT INTO "setting" VALUES(21,'app_password','');
INSERT INTO "setting" VALUES(22,'git_path','git');
INSERT INTO "setting" VALUES(23,'app_ssl_key','');
INSERT INTO "setting" VALUES(24,'app_host','0.0.0.0');
INSERT INTO "setting" VALUES(25,'app_ssl_cert','');
INSERT INTO "setting" VALUES(26,'app_port','8085');
INSERT INTO "setting" VALUES(27,'app_username','');
{% if sickbeard_host is defined %}
INSERT INTO "setting" VALUES(28,'sickbeard_enable','on');
{% else %}
INSERT INTO "setting" VALUES(28,'sickbeard_enable','0');
{% endif %}
INSERT INTO "setting" VALUES(29,'sickbeard_name','Sickbeard');
INSERT INTO "setting" VALUES(30,'sickbeard_ssl','0');
{% if sickbeard_api_key is defined %}
INSERT INTO "setting" VALUES(31,'sickbeard_apikey','{{ sickbeard_api_key }}');
{% else %}
INSERT INTO "setting" VALUES(31,'sickbeard_apikey','');
{% endif %}
{% if sickbeard_host is defined and sickbeard_host == ansible_default_ipv4.address and htpc_manager_use_hostnames is defined and htpc_manager_use_hostnames %}
INSERT INTO "setting" VALUES(32,'sickbeard_host','{{ ansible_hostname }}');
{% elif sickbeard_host is defined and sickbeard_host != ansible_default_ipv4.address %}
INSERT INTO "setting" VALUES(32,'sickbeard_host','{{ sickbeard_host }}');
{% else %}
INSERT INTO "setting" VALUES(32,'sickbeard_host','{{ ansible_default_ipv4.address }}');
{% endif %}
INSERT INTO "setting" VALUES(33,'sickbeard_port','8081');
INSERT INTO "setting" VALUES(34,'sickbeard_basepath','/');
INSERT INTO "setting" VALUES(35,'dash_rec_music','0');
INSERT INTO "setting" VALUES(36,'dash_rec_movies','on');
INSERT INTO "setting" VALUES(37,'dash_rec_tv','on');
INSERT INTO "setting" VALUES(38,'dash_nzbget','0');
INSERT INTO "setting" VALUES(39,'dash_sickbeard','on');
INSERT INTO "setting" VALUES(40,'dash_sabnzbd','0');
INSERT INTO "setting" VALUES(41,'dash_couchpotato','0');
INSERT INTO "setting" VALUES(42,'deluge_port','8112');
INSERT INTO "setting" VALUES(43,'deluge_basepath','');
INSERT INTO "setting" VALUES(44,'deluge_name','Deluge');
INSERT INTO "setting" VALUES(45,'deluge_ssl','0');
{% if deluged_host is defined and deluged_host == ansible_default_ipv4.address and htpc_manager_use_hostnames is defined and htpc_manager_use_hostnames %}
INSERT INTO "setting" VALUES(46,'deluge_host','{{ ansible_hostname }}');
{% elif deluged_host is defined and deluged_host != ansible_default_ipv4.address %}
INSERT INTO "setting" VALUES(46,'deluge_host','{{ deluged_host }}');
{% else %}
INSERT INTO "setting" VALUES(46,'deluge_host','{{ ansible_default_ipv4.address }}');
{% endif %}
INSERT INTO "setting" VALUES(47,'deluge_enable','on');
INSERT INTO "setting" VALUES(48,'deluge_password','deluge');
CREATE TABLE xbmc_servers (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    host TEXT,
    port INT,
    username TEXT,
    password TEXT,
    mac TEXT
);
{% if xbmc_host is defined and xbmc_host == ansible_default_ipv4.address and htpc_manager_use_hostnames is defined and htpc_manager_use_hostnames %}
INSERT INTO "xbmc_servers" VALUES(5,'{{ ansible_hostname }}','{{ ansible_hostname }}',8080,'xbmc','','');
{% else %}
INSERT INTO "xbmc_servers" VALUES(5,'{{ ansible_hostname }}','{{ ansible_default_ipv4.address }}',8080,'xbmc','','');
{% endif %}
DELETE FROM sqlite_sequence;
INSERT INTO "sqlite_sequence" VALUES('setting',41);
INSERT INTO "sqlite_sequence" VALUES('xbmc_servers',5);
COMMIT;
