[core]
api_key = {{ couchpotato_apikey }}
username = 
ssl_key = 
ssl_cert = 
data_dir = 
permission_folder = 0755
development = 0
url_base = 
debug = 0
launch_browser = True
password = 
port = 5050
permission_file = 0755
show_wizard = 0

[updater]
notification = True
enabled = False
git_command = git
automatic = True

[automation]
rating = 7.0
votes = 1000
hour = 12
required_genres = 
year = 2011
ignored_genres = 

[manage]
startup_scan = True
cleanup = True
enabled = 1
library = {{ media_path }}/{{ movies_folder }}/
library_refresh_interval = 0

[renamer]
nfo_name = <filename>.orig.<ext>
from = {{ downloads_path }}
force_every = 0
move_leftover = 1
to = {{ media_path }}/{{ movies_folder }}/
file_name = <original>.<ext>
enabled = 1
next_on_failed = 0
unrar = False
rename_nfo = 0
cleanup = 1
separator =
folder_name = <original_folder>
run_every = 0
foldersep =
file_action = link
ntfs_permission = False
default_file_action = move
check_space = True
unrar_path =
unrar_modify_date = False

[subtitle]
languages = 
enabled = False
force = False

[trailer]
quality = 720p
enabled = False
name = <filename>-trailer

[download_providers]

[blackhole]
directory =
manual = 0
enabled = 0
create_subdir = 0
use_for = nzb

[deluge]
username = localclient
delete_failed = True
completed_directory =
manual = 0
{% if deluge_enabled is defined and deluge_enabled %}
enabled = 1
{% else %}
enabled = 0
{% endif %}
label = movie
paused = False
{% if deluge_enabled is defined and deluge_enabled and deluged_host == ansible_default_ipv4.address %}
host = localhost:58846
{% elif deluge_enabled is defined and deluge_enabled and deluged_host != ansible_default_ipv4.address %}
host = {{ deluged_host}}:58846
{% else %}
host = 
{% endif %}
delete_files = True
directory =
remove_complete = True
{% if deluge_enabled is defined and deluge_enabled and deluged_localclient_password is defined %}
password = {{ deluged_localclient_password }}
{% else %}
password = 
{% endif %}

[nzbget]
username = nzbget
category = Movies
delete_failed = True
manual = 0
enabled = 0
priority = 0
ssl = 0
host = localhost:6789
password = 

[nzbvortex]
delete_failed = True
manual = False
enabled = 0
ssl = 1
host = localhost:4321
api_key = 

[pneumatic]
directory = 
manual = 0
enabled = 0

[rtorrent]
username = 
rpc_url = RPC2
manual = 0
enabled = 0
label = 
paused = False
ssl = 0
host = localhost:80
delete_files = True
directory = 
remove_complete = False
password = 

[sabnzbd]
category = movie
delete_failed = True
manual = False
{% if sabnzbd_enabled is defined and sabnzbd_enabled %}
enabled = 1
{% else %}
enabled = 0
{% endif %}
priority = 0
ssl = 0
{% if sabnzbd_enabled is defined and sabnzbd_enabled and sabnzbd_host == ansible_default_ipv4.address %}
host = localhost:{{ sabnzbd_port }}
{% elif sabnzbd_enabled is defined and sabnzbd_enabled and sabnzbd_host != ansible_default_ipv4.address %}
sab_host = {{ sabnzbd_host }}:{{ sabnzbd_port }}
{% else %}
host =
{% endif %}
remove_complete = False
{% if sab_apikey is defined %}
api_key = {{ sab_apikey }}
{% else %}
api_key =
{% endif %}

[synology]
username = 
enabled = 0
manual = 0
host = localhost:5000
password = 
use_for = both

[transmission]
username = 
stalled_as_failed = True
delete_failed = True
rpc_url = transmission
manual = 0
enabled = 0
paused = False
host = localhost:9091
delete_files = True
directory = 
remove_complete = True
password = 

[utorrent]
username = 
delete_failed = True
manual = 0
enabled = 0
label = 
paused = False
host = localhost:8000
delete_files = True
remove_complete = True
password = 

[notification_providers]

[boxcar]
on_snatch = 0
enabled = 0
email = 

[boxcar2]
token = 
enabled = 0
on_snatch = 0

[email]
starttls = 0
smtp_pass = 
on_snatch = 0
from = 
to = 
smtp_port = 25
enabled = 0
smtp_server = 
smtp_user = 
ssl = 0

[growl]
password = 
on_snatch = False
hostname = 
enabled = 0
port = 

[nmj]
host = localhost
enabled = 0
mount = 
database = 

[notifymyandroid]
priority = 0
dev_key = 
api_key = 
enabled = 0
on_snatch = 0

[notifymywp]
priority = 0
dev_key = 
api_key = 
enabled = 0
on_snatch = 0

[plex]
on_snatch = 0
clients = 
enabled = 0
media_server = localhost

[prowl]
priority = 0
on_snatch = 0
api_key = 
enabled = 0

[pushalot]
auth_token = 
important = 0
enabled = 0
silent = 0
on_snatch = 0

[pushbullet]
on_snatch = 0
api_key = 
enabled = 0
devices = 

[pushover]
priority = 0
user_key = 
on_snatch = 0
enabled = 0

[synoindex]
enabled = 0

[toasty]
on_snatch = 0
api_key = 
enabled = 0

[trakt]
remove_watchlist_enabled = False
notification_enabled = False
automation_password = 
automation_enabled = False
automation_username = 
automation_api_key = 

[twitter]
on_snatch = 0
screen_name = 
enabled = 0
access_token_key = 
mention = 
access_token_secret = 
direct_message = 0

[xbmc]
username = xbmc
on_snatch = 0
force_full_scan = 1
only_first = 1
{% if xbmc_client_enabled is defined and xbmc_client_enabled %}
enabled = 1
{% else %}
enabled = 0
{% endif %}
remote_dir_scan = 0
{% if xbmc_client_enabled is defined and xbmc_client_enabled and xbmc_host == ansible_default_ipv4.address %}
host = localhost:8080
{% elif xbmc_client_enabled is defined and xbmc_client_enabled and xbmc_host != ansible_default_ipv4.address %}
host = {{ xbmc_host }}:8080
{% else %}
host =
{% endif %}
password = 
meta_thumbnail_name = %s.tbn
meta_nfo_name = %s.nfo
meta_url_only = False
meta_thumbnail = True
meta_fanart_name = %s-fanart.jpg
meta_enabled = False
meta_fanart = True
meta_nfo = True

[xmpp]
username = 
on_snatch = 0
hostname = talk.google.com
enabled = 0
to = 
password = 
port = 5222

[searcher]
{% if sabnzbd_enabled is defined and sabnzbd_enabled and deluge_enabled is defined and deluge_enabled %}
preferred_method = both
{% elif sabnzbd_enabled is defined and sabnzbd_enabled and deluge_enabled is not defined %}
preferred_method = nzb
{% elif sabnzbd_enabled is defined and sabnzbd_enabled and deluge_enabled is defined and not deluge_enabled %}
preferred_method = nzb
{% else %}
preferred_method = torrent
{% endif %}

required_words = 
ignored_words = german, dutch, french, truefrench, danish, swedish, spanish, italian, korean, dubbed, swesub, korsub, dksubs, vain
preferred_words = BlueRay

[nzb]
retention = 1500

[moviesearcher]
cron_day = *
cron_hour = 12
cron_minute = 19
always_search = False
run_on_launch = 0
search_on_add = 1

[automation_providers]

[bluray]
automation_enabled = False
backlog = False

[flixster]
automation_ids_use = 
automation_enabled = False
automation_ids = 

[goodfilms]
automation_enabled = False
automation_username = 

[imdb]
automation_charts_top250 = True
automation_enabled = False
automation_urls_use = 
automation_urls = 
automation_providers_enabled = False
automation_charts_boxoffice = True
automation_charts_theater = True

[itunes]
automation_enabled = False
automation_urls_use = ,
automation_urls = https://itunes.apple.com/rss/topmovies/limit=25/xml,

[kinepolis]
automation_enabled = False

[letterboxd]
automation_enabled = False
automation_urls_use = 
automation_urls = 

[moviemeter]
automation_enabled = False

[moviesio]
automation_enabled = False
automation_urls_use = 
automation_urls = 

[rottentomatoes]
automation_enabled = False
tomatometer_percent = 80
automation_urls_use = 1
automation_urls = http://www.rottentomatoes.com/syndication/rss/in_theaters.xml

[themoviedb]
api_key = 9b939aee0aaafc12a65bf448e4af9543

[windowsmediacenter]
meta_enabled = False

[nzb_providers]

[binsearch]
enabled = 
extra_score = 0

[newznab]
use = 0,0,0,0,0,0,1
extra_score = 0,0,0,0,0,0,
{% if sabnzbd_enabled is defined and sabnzbd_enabled %}
enabled = True
host = nzb.su,dognzb.cr,nzbs.org,https://index.nzbgeek.info,https://smackdownonyou.com,https://www.nzbfinder.ws,https://www.usenet-crawler.com/
custom_tag = ,,,,,,
api_key = ,,,,,,{{ usenet_crawler_api_key }}
{% else %}
enabled = 0
host = nzb.su,dognzb.cr,nzbs.org,https://index.nzbgeek.info,https://smackdownonyou.com,https://www.nzbfinder.ws,https://www.usenet-crawler.com/
custom_tag = ,,,,,,
api_key = ,,,,,,
{% endif %}

[nzbclub]
enabled = 
extra_score = 0

[nzbindex]
enabled = 0
extra_score = 0

[omgwtfnzbs]
username = 
api_key = 
enabled = 
extra_score = 20

[torrent_providers]

[awesomehd]
seed_time = 40
extra_score = 20
only_internal = 1
passkey = 
enabled = False
favor = both
prefer_internal = 1
seed_ratio = 1

[bithdtv]
username = 
seed_time = 40
extra_score = 20
enabled = False
password = 
seed_ratio = 1

[bitsoup]
username = 
seed_time = 40
extra_score = 20
enabled = False
password = 
seed_ratio = 1

[hdbits]
username = 
seed_time = 40
extra_score = 0
passkey = 
enabled = False
seed_ratio = 1
internal_only = False

[ilovetorrents]
username = 
seed_time = 40
extra_score = 0
enabled = False
password = 
seed_ratio = 1

[iptorrents]
username = 
freeleech = 0
extra_score = 0
enabled = False
seed_time = 40
password = 
seed_ratio = 1

[kickasstorrents]
seed_time = 40
domain = 
{% if deluge_enabled is defined and deluge_enabled %}
enabled = True
{% else %}
enabled = 0
{% endif %}
seed_ratio = 0
extra_score = 0

[passthepopcorn]
username = 
domain = 
seed_time = 40
extra_score = 20
passkey = 
prefer_scene = 0
enabled = False
prefer_golden = 1
require_approval = 0
password = 
seed_ratio = 1
prefer_freeleech = 1

[publichd]
seed_time = 40
enabled = 0
seed_ratio = 1
extra_score = 0

[sceneaccess]
username = 
seed_time = 40
extra_score = 20
enabled = False
password = 
seed_ratio = 1

[thepiratebay]
seed_time = 40
domain = 
{% if deluge_enabled is defined and deluge_enabled %}
enabled = True
{% else %}
enabled = 0
{% endif %}
seed_ratio = 0
extra_score = 0

[torrentbytes]
username = 
seed_time = 40
extra_score = 20
enabled = False
password = 
seed_ratio = 1

[torrentday]
username = 
seed_time = 40
extra_score = 0
enabled = False
password = 
seed_ratio = 1

[torrentleech]
username = 
seed_time = 40
extra_score = 20
enabled = False
password = 
seed_ratio = 1

[torrentpotato]
use = 
seed_time = 40
name = 
extra_score = 0
enabled = False
host = 
pass_key = ,
seed_ratio = 1

[torrentshack]
username = 
seed_time = 40
extra_score = 0
enabled = False
scene_only = False
password = 
seed_ratio = 1

[yify]
seed_time = 40
domain = 
enabled = 0
seed_ratio = 1
extra_score = 0

[hadouken]
host = localhost:7890
api_key = 
enabled = 0
label = 

[putio]
delete_file = 0
callback_host = 
download_dir = 
manual = 0
enabled = 0
oauth_token = 
download = 0
folder = 0

[qbittorrent]
username = 
manual = 0
enabled = 0
paused = False
host = http://localhost:8080/
delete_files = True
remove_complete = False
password = 

[torrentz]
verified_only = True
extra_score = 0
minimal_seeds = 1
enabled = 0
seed_time = 40
seed_ratio = 1

[torrent]
minimum_seeders = 1

[charts]
hide_wanted = False
hide_library = False
max_items = 5

[popularmovies]
automation_enabled = False

[mediabrowser]
meta_enabled = False

[sonyps3]
meta_enabled = False
