{
  "file": 1, 
  "format": 1
}{
  "labels": {
    "tv": {
      "max_download_speed": -1, 
      "stop_at_ratio": false, 
      "apply_move_completed": false, 
      "apply_queue": false, 
      "auto_add": false, 
      "max_upload_slots": -1, 
      "prioritize_first_last": false, 
      "move_completed": true, 
      "max_connections": -1, 
      "is_auto_managed": false, 
      "max_upload_speed": -1, 
      "auto_add_trackers": [], 
      "remove_at_ratio": false, 
      "stop_ratio": 2.0, 
      "move_completed_path": "", 
      "apply_max": false
    }, 
    "movie": {
      "max_download_speed": -1, 
      "stop_at_ratio": false, 
      "apply_move_completed": false, 
      "apply_queue": false, 
      "auto_add": false, 
      "max_upload_slots": -1, 
      "prioritize_first_last": false, 
      "move_completed": true, 
      "max_connections": -1, 
      "is_auto_managed": false, 
      "max_upload_speed": -1, 
      "auto_add_trackers": [], 
      "remove_at_ratio": false, 
      "stop_ratio": 2.0, 
      "move_completed_path": "", 
      "apply_max": false
    }
  }, 
  "torrent_labels": {
    "3376f9068589b5794b79a7b08a18ef31e927c2ed": "movie",
    "8e74f804847e9336999480bd23813f079b436e94": "tv"
  }
}