[General]
config_version = 5
encryption_version = 0
log_dir = Logs
socket_timeout = None
web_port = 8081
web_host = 0.0.0.0
web_ipv6 = 0
web_log = 0
web_root = ""
web_username = ""
web_password = ""
localhost_ip = ""
cpu_preset = NORMAL
anon_redirect = http://dereferer.org/?
use_api = 1
api_key = {{ sickbeard_api_key }}
debug = 0
enable_https = 0
https_cert = server.crt
https_key = server.key
handle_reverse_proxy = 0
{% if sabnzbd_host is defined %}
use_nzbs = 1
{% else %}
use_nzbs = 0
{% endif %}
{% if deluged_host is defined %}
use_torrents = 1
{% else %}
use_torrents = 0
{% endif %}
nzb_method = sabnzbd
torrent_method = deluge
usenet_retention = 2000
autopostprocesser_frequency = 1
dailysearch_frequency = 10
backlog_frequency = 10080
update_frequency = 1
download_propers = 1
check_propers_interval = daily
allow_high_priority = 1
dailysearch_startup = 1
backlog_startup = 1
skip_removed_files = 0
quality_default = 164
status_default = 5
flatten_folders_default = 0
indexer_default = 0
indexer_timeout = 10
provider_order = thepiratebay kickasstorrents publichd speedcd iptorrents tvtorrents ezrss nextgen torrentday torrentleech sceneaccess btn hdbits hdtorrents
version_notify = 1
auto_update = 0
naming_strip_year = 0
naming_pattern = Season %0S/%SN - S%0SE%0E - %EN
naming_custom_abd = 0
naming_abd_pattern = %Y/%0M/%SN - %A.D - %EN
naming_custom_sports = 0
naming_sports_pattern = Season %0S/%SN - S%0SE%0E - %EN
naming_multi_ep = 1
launch_browser = 1
update_shows_on_start = 0
sort_article = 0
proxy_setting = ""
use_listview = 0
metadata_xbmc = 0|0|0|0|0|0|0|0|0|0
metadata_xbmc_12plus = 0|0|0|0|0|0|0|0|0|0
metadata_mediabrowser = 0|0|0|0|0|0|0|0|0|0
metadata_ps3 = 0|0|0|0|0|0|0|0|0|0
metadata_wdtv = 0|0|0|0|0|0|0|0|0|0
metadata_tivo = 0|0|0|0|0|0|0|0|0|0
metadata_mede8er = 0|0|0|0|0|0|0|0|0|0
cache_dir = cache
root_dirs = 0|{{ xbmc_media_path }}/{{ xbmc_default_media_folders.tv }}
tv_download_dir = {{ xbmc_media_path }}/{{ xbmc_download_folders.downloads }}
keep_processed_dir = 1
process_method = hardlink
move_associated_files = 0
process_automatically = 1
unpack = 0
rename_episodes = 0
airdate_episodes = 0
create_missing_show_dirs = 1
add_shows_wo_dir = 0
extra_scripts = ""
git_path = ""
ignore_words = "german,french,core2hd,dutch,swedish,reenc,MrLss"
calendar_unprotected = 0
clear_cache = n2384f93jd03232
[Blackhole]
nzb_dir = ""
torrent_dir = ""
[THEPIRATEBAY]
thepiratebay = 1
thepiratebay_confirmed = 0
thepiratebay_ratio = ""
thepiratebay_minseed = 0
thepiratebay_minleech = 0
thepiratebay_proxy = 0
thepiratebay_proxy_url = http://2me2u.me/
thepiratebay_search_mode = eponly
thepiratebay_search_fallback = 0
thepiratebay_backlog_only = 0
[KICKASSTORRENTS]
kickasstorrents = 1
kickasstorrents_confirmed = 0
kickasstorrents_ratio = ""
kickasstorrents_minseed = 0
kickasstorrents_minleech = 0
kickasstorrents_search_mode = eponly
kickasstorrents_search_fallback = 0
kickasstorrents_backlog_only = 0
[PUBLICHD]
publichd = 1
publichd_ratio = ""
publichd_minseed = 0
publichd_minleech = 0
publichd_search_mode = eponly
publichd_search_fallback = 0
publichd_backlog_only = 0
[SPEEDCD]
speedcd = 0
speedcd_username = ""
speedcd_password = ""
speedcd_ratio = ""
speedcd_minseed = 0
speedcd_minleech = 0
speedcd_freeleech = 0
speedcd_search_mode = eponly
speedcd_search_fallback = 0
speedcd_backlog_only = 0
[IPTORRENTS]
iptorrents = 0
iptorrents_username = ""
iptorrents_password = ""
iptorrents_ratio = ""
iptorrents_freeleech = 0
iptorrents_search_mode = eponly
iptorrents_search_fallback = 0
iptorrents_backlog_only = 0
[TVTORRENTS]
tvtorrents = 0
tvtorrents_digest = ""
tvtorrents_hash = ""
tvtorrents_ratio = ""
tvtorrents_options = ""
tvtorrents_search_mode = eponly
tvtorrents_search_fallback = 0
tvtorrents_backlog_only = 0
[EZRSS]
ezrss = 0
ezrss_ratio = ""
ezrss_search_mode = eponly
ezrss_search_fallback = 0
ezrss_backlog_only = 0
[NEXTGEN]
nextgen = 0
nextgen_username = ""
nextgen_password = ""
nextgen_ratio = ""
nextgen_search_mode = eponly
nextgen_search_fallback = 0
nextgen_backlog_only = 0
[TORRENTDAY]
torrentday = 0
torrentday_hash = ""
torrentday_username = ""
torrentday_password = ""
torrentday_ratio = ""
torrentday_minseed = 0
torrentday_minleech = 0
torrentday_freeleech = 0
torrentday_search_mode = eponly
torrentday_search_fallback = 0
torrentday_backlog_only = 0
[TORRENTLEECH]
torrentleech = 0
torrentleech_username = ""
torrentleech_password = ""
torrentleech_ratio = ""
torrentleech_minseed = 0
torrentleech_minleech = 0
torrentleech_search_mode = eponly
torrentleech_search_fallback = 0
torrentleech_backlog_only = 0
[SCENEACCESS]
sceneaccess = 0
sceneaccess_username = ""
sceneaccess_password = ""
sceneaccess_ratio = ""
sceneaccess_minseed = 0
sceneaccess_minleech = 0
sceneaccess_search_mode = eponly
sceneaccess_search_fallback = 0
sceneaccess_backlog_only = 0
[BTN]
btn = 0
btn_api_key = ""
btn_ratio = ""
btn_search_mode = eponly
btn_search_fallback = 0
btn_backlog_only = 0
[HDBITS]
hdbits = 0
hdbits_username = ""
hdbits_passkey = ""
hdbits_ratio = ""
hdbits_search_mode = eponly
hdbits_search_fallback = 0
hdbits_backlog_only = 0
[HDTORRENTS]
hdtorrents = 0
hdtorrents_hash = ""
hdtorrents_username = ""
hdtorrents_password = ""
hdtorrents_ratio = ""
hdtorrents_minseed = 0
hdtorrents_minleech = 0
hdtorrents_search_mode = eponly
hdtorrents_search_fallback = 0
hdtorrents_backlog_only = 0
[NZBS_ORG]
nzbs_org = 0
nzbs_org_search_mode = eponly
nzbs_org_search_fallback = 0
nzbs_org_backlog_only = 0
[WOMBLE_S_INDEX]
womble_s_index = 0
womble_s_index_search_mode = eponly
womble_s_index_search_fallback = 0
womble_s_index_backlog_only = 0
[USENET_CRAWLER]
usenet_crawler = 0
usenet_crawler_search_mode = eponly
usenet_crawler_search_fallback = 0
usenet_crawler_backlog_only = 0
[SICKRAGE_INDEX]
sickrage_index = 0
sickrage_index_search_mode = eponly
sickrage_index_search_fallback = 0
sickrage_index_backlog_only = 0
[OMGWTFNZBS]
omgwtfnzbs = 0
omgwtfnzbs_api_key = ""
omgwtfnzbs_username = ""
omgwtfnzbs_search_mode = eponly
omgwtfnzbs_search_fallback = 0
omgwtfnzbs_backlog_only = 0
[NZBs]
nzbs = 0
nzbs_uid = ""
nzbs_hash = ""
[Newzbin]
newzbin = 0
newzbin_username = ""
newzbin_password = ""
[SABnzbd]
sab_username = ""
sab_password = ""
{% if sab_apikey is defined %}
sab_apikey = {{ sab_apikey }}
{% else %}
sab_apikey = ""
{% endif %}
sab_category = tv
{% if sabnzbd_host is defined and sabnzbd_host == ansible_default_ipv4.address %}
sab_host = http://localhost:{{ sabnzbd_port }}/
{% elif sabnzbd_host is defined and sabnzbd_host != ansible_default_ipv4.address %}
sab_host = http://{{ sabnzbd_host }}:{{ sabnzbd_port }}/
{% else %}
sab_host = ""
{% endif %}
[NZBget]
nzbget_username = nzbget
nzbget_password = tegbzn6789
nzbget_category = tv
nzbget_host = ""
nzbget_use_https = 0
[TORRENT]
torrent_username = ""
torrent_password = deluge
{% if deluged_host is defined and deluged_host == ansible_default_ipv4.address %}
torrent_host = http://localhost:{{ deluged_port }}/
{% elif deluged_host is defined and deluged_host != ansible_default_ipv4.address %}
torrent_host = http://{{ deluged_host }}:{{ deluged_port }}/
{% else %}
torrent_host = ""
{% endif %}
torrent_path = ""
torrent_seed_time = 0
torrent_paused = 0
torrent_high_bandwidth = 0
torrent_label = ""
torrent_verify_cert = 0
[XBMC]
{% if xbmc_host is defined %}
use_xbmc = 1
{% else %}
use_xbmc = 0
{% endif %}
xbmc_always_on = 0
xbmc_notify_onsnatch = 0
xbmc_notify_ondownload = 0
xbmc_notify_onsubtitledownload = 0
xbmc_update_library = 1
xbmc_update_full = 1
xbmc_update_onlyfirst = 1
{% if xbmc_host is defined and xbmc_host == ansible_default_ipv4.address %}
xbmc_host = localhost:8080
{% elif xbmc_host is defined and xbmc_host != ansible_default_ipv4.address %}
xbmc_host = {{ xbmc_host }}:8080
{% else %}
xbmc_host = ""
{% endif %}
xbmc_username = xbmc
xbmc_password = ""
[Plex]
use_plex = 0
plex_notify_onsnatch = 0
plex_notify_ondownload = 0
plex_notify_onsubtitledownload = 0
plex_update_library = 0
plex_server_host = ""
plex_host = ""
plex_username = ""
plex_password = ""
[Growl]
use_growl = 0
growl_notify_onsnatch = 0
growl_notify_ondownload = 0
growl_notify_onsubtitledownload = 0
growl_host = ""
growl_password = ""
[Prowl]
use_prowl = 0
prowl_notify_onsnatch = 0
prowl_notify_ondownload = 0
prowl_notify_onsubtitledownload = 0
prowl_api = ""
prowl_priority = 0
[Twitter]
use_twitter = 0
twitter_notify_onsnatch = 0
twitter_notify_ondownload = 0
twitter_notify_onsubtitledownload = 0
twitter_username = ""
twitter_password = ""
twitter_prefix = SickRage
[Boxcar]
use_boxcar = 0
boxcar_notify_onsnatch = 0
boxcar_notify_ondownload = 0
boxcar_notify_onsubtitledownload = 0
boxcar_username = ""
[Boxcar2]
use_boxcar2 = 0
boxcar2_notify_onsnatch = 0
boxcar2_notify_ondownload = 0
boxcar2_notify_onsubtitledownload = 0
boxcar2_accesstoken = ""
[Pushover]
use_pushover = 0
pushover_notify_onsnatch = 0
pushover_notify_ondownload = 0
pushover_notify_onsubtitledownload = 0
pushover_userkey = ""
[Libnotify]
use_libnotify = 0
libnotify_notify_onsnatch = 0
libnotify_notify_ondownload = 0
libnotify_notify_onsubtitledownload = 0
[NMJ]
use_nmj = 0
nmj_host = ""
nmj_database = ""
nmj_mount = ""
[NMJv2]
use_nmjv2 = 0
nmjv2_host = ""
nmjv2_database = ""
nmjv2_dbloc = None
[Synology]
use_synoindex = 0
[SynologyNotifier]
use_synologynotifier = 0
synologynotifier_notify_onsnatch = 0
synologynotifier_notify_ondownload = 0
synologynotifier_notify_onsubtitledownload = 0
[Trakt]
use_trakt = 0
trakt_username = ""
trakt_password = ""
trakt_api = ""
trakt_remove_watchlist = 0
trakt_use_watchlist = 0
trakt_method_add = 0
trakt_start_paused = 0
[pyTivo]
use_pytivo = 0
pytivo_notify_onsnatch = 0
pytivo_notify_ondownload = 0
pytivo_notify_onsubtitledownload = 0
pyTivo_update_library = 0
pytivo_host = ""
pytivo_share_name = ""
pytivo_tivo_name = ""
[NMA]
use_nma = 0
nma_notify_onsnatch = 0
nma_notify_ondownload = 0
nma_notify_onsubtitledownload = 0
nma_api = ""
nma_priority = 0
[Pushalot]
use_pushalot = 0
pushalot_notify_onsnatch = 0
pushalot_notify_ondownload = 0
pushalot_notify_onsubtitledownload = 0
pushalot_authorizationtoken = ""
[Pushbullet]
use_pushbullet = 0
pushbullet_notify_onsnatch = 0
pushbullet_notify_ondownload = 0
pushbullet_notify_onsubtitledownload = 0
pushbullet_api = ""
pushbullet_device = None
[Email]
use_email = 0
email_notify_onsnatch = 0
email_notify_ondownload = 0
email_notify_onsubtitledownload = 0
email_host = ""
email_port = 25
email_tls = 0
email_user = ""
email_password = ""
email_from = ""
email_list = ""
[Newznab]
{#
newznab_data = "NZBs.org|https://nzbs.org/||5030,5040,5060,5070,5090|0|eponly|0"
#}
[TorrentRss]
torrentrss_data = ""
[GUI]
gui_name = slick
home_layout = banner
history_layout = detailed
display_show_specials = 1
coming_eps_layout = banner
coming_eps_display_paused = 0
coming_eps_sort = date
coming_eps_missed_range = 7
date_preset = %x
time_preset = %H:%M:%S
timezone_display = network
[Subtitles]
use_subtitles = 1
subtitles_languages = en
SUBTITLES_SERVICES_LIST = "itasa,subtitulos,tvsubtitles,opensubtitles,addic7ed,usub,thesubdb,subswiki"
SUBTITLES_SERVICES_ENABLED = 0|0|0|1|1|0|0|0
subtitles_dir = ""
subtitles_default = 0
subtitles_history = 0
subtitles_finder_frequency = 1
[FailedDownloads]
use_failed_downloads = 0
delete_failed = 0
