<advancedsettings>
{% if kodi_mysql_enabled is defined and kodi_mysql_enabled and kodi_mysqldb_host == ansible_default_ipv4.address %}
  <videodatabase>
    <type>mysql</type>
    <host>localhost</host>
    <port>3306</port>
    <user>{{ kodi_mysqldb_user }}</user>
    <pass>{{ kodi_mysqldb_password }}</pass>
  </videodatabase> 
  <musicdatabase>
    <type>mysql</type>
    <host>localhost</host>
    <port>3306</port>
    <user>{{ kodi_mysqldb_user }}</user>
    <pass>{{ kodi_mysqldb_password }}</pass>
  </musicdatabase>
  <videolibrary>
    <importwatchedstate>true</importwatchedstate>
    <importresumepoint>true</importresumepoint>
  </videolibrary>
{% elif kodi_mysql_enabled is defined and kodi_mysql_enabled and != ansible_default_ipv4.address %}
  <videodatabase>
    <type>mysql</type>
    <host>{{ xbmc_mysqldb_host }}</host>
    <port>3306</port>
    <user>{{ kodi_mysqldb_user }}</user>
    <pass>{{ kodi_mysqldb_password }}</pass>
  </videodatabase> 
  <musicdatabase>
    <type>mysql</type>
    <host>{{ xbmc_mysqldb_host }}</host>
    <port>3306</port>
    <user>{{ kodi_mysqldb_user }}</user>
    <pass>{{ kodi_mysqldb_password }}</pass>
  </musicdatabase>
  <videolibrary>
    <importwatchedstate>true</importwatchedstate>
    <importresumepoint>true</importresumepoint>
  </videolibrary>
{% endif %}
  <services>
        <webserver>true</webserver>
  </services>
  <scrapers>
    <moviesdefault>metadata.themoviedb.org</moviesdefault>
    <tvshowsdefault>metadata.tvdb.com</tvshowsdefault>
  </scrapers>
  <musiclibrary>
    <updateonstartup>true</updateonstartup>
  </musiclibrary>
{% if ansible_product_name == 'VirtualBox' %}
  <lookandfeel>
    <soundskin>OFF</soundskin>
  </lookandfeel>
  <screensaver>
    <mode></mode>
  </screensaver>
  <general>
    <addonautoupdate>false</addonautoupdate>
    <addonnotifications>false</addonnotifications>
  </general>
  <input>
    <enablemouse default="true">false</enablemouse>
  </input>
{% endif %}
</advancedsettings>