<sources>
    <programs>
        <default pathversion="1"></default>
    </programs>
    <video>
        <default pathversion="1"></default>
        <source>
            <name>Movies</name>
            <path pathversion="1">{{ xbmc_media_path }}/{{ xbmc_default_media_folders.movies }}/</path>
            <allowsharing>true</allowsharing>
        </source>
        <source>
            <name>TV shows</name>
            <path pathversion="1">{{ xbmc_media_path }}/{{ xbmc_default_media_folders.tv }}/</path>
            <allowsharing>true</allowsharing>
        </source>
    </video>
    <music>
        <default pathversion="1"></default>
        <source>
            <name>Music</name>
            <path pathversion="1">{{ xbmc_media_path }}/{{ xbmc_default_media_folders.music }}/</path>
            <allowsharing>true</allowsharing>
        </source>
    </music>
    <pictures>
        <default pathversion="1"></default>
    </pictures>
    <files>
        <default pathversion="1"></default>
    </files>
</sources>
